<footer>
  <div class="top-footer">
    <div class="left-top-footer">
      <h3>contact</h3>
      <p>mark whitmore</p>
      <p>+44 07412 847589</p>
      <p>mwhitemore39@virginmedia.com</p>
    </div>
    <div class="mid-top-footer">
      <h3>social media</h3>
      <div class="social-footer">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="far fa-envelope"></i></a>
      </div>

    </div>
    <div class="right-top-footer">
      <h3>payment methods</h3>
      <div class="payment-footer">
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fas fa-money-bill-wave"></i>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="left-bottom-footer">
      <p>BIG DAY</p>
      <p>MOVIES</p>
    </div>
    <div class="right-bottom-footer">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#mywork">my work</a>
      <a href="#mygear">my gear</a>
      <a href="#">booking</a>
      <a href="#">contact</a>
    </div>
  </div>
</footer>