{% extends 'base.html' %}
{% block content %}

<section id="home">
  <div class="hero">
  </div>
  <div class="hero-heading">
    <div class="logo-hero">
      <p>BIG DAY</p>
    </div>
    <div class="logo-paragraph">
      <p>MOVIES</p>
    </div>
  </div>
</section>
<section id="about" style="height: 80vh;">
  <div class="about section-width">
    <h1 class="section-title" data-aos="fade-up">about</h1>
    <div class="content">
      <div class="image">
      </div>
      <div class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea delectus perferendis consequuntur earum eum sapiente
        impedit, sint accusantium itaque, nisi quisquam debitis. Quibusdam labore voluptatibus quasi sequi. Officia iste
        at, laboriosam, amet tenetur error ex perferendis quod saepe, expedita atque..
      </div>
    </div>
  </div>
</section>
<section id="mywork" style="height: 80vh;">
  <div class="mywork section-width">
    <h1 class="section-title" data-aos="fade-up">my work</h1>
    <div class="content">
      <div class="image">

      </div>
      <div class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea delectus perferendis consequuntur earum eum sapiente
        impedit, sint accusantium itaque, nisi quisquam debitis. Quibusdam labore voluptatibus quasi sequi. Officia iste
        at, laboriosam, amet tenetur error ex perferendis quod saepe, expedita atque.
      </div>
    </div>
  </div>
</section>
<section id="mygear" style="height: 80vh;">
  <div class="mygear section-width">
    <h1 class="section-title" data-aos="fade-up">my gear</h1>
    <div class="content">
      <div class="image">

      </div>
      <div class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea delectus perferendis consequuntur earum eum sapiente
        impedit, sint accusantium itaque, nisi quisquam debitis. Quibusdam labore voluptatibus quasi sequi. Officia iste
        at, laboriosam, amet tenetur error ex perferendis quod saepe, expedita atque.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="social-media-bar">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-google"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="far fa-envelope"></i></a>
  </div>
</section>

{% endblock %}